<!DOCTYPE html>
<html lang="en" data-ng-app="easyWineApp">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Easy Wine Office Website">
	<meta name="csrf-token" data-ng-init="csrf_token = 'ZSVwu9LL7H8qCN9exKEg64kbcQQD3DAPARf14j0D'">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link media="all" type="text/css" rel="stylesheet" href="http://localhost/packages/twitterbootstrap/css/bootstrap.css">

	<link media="all" type="text/css" rel="stylesheet" href="http://localhost/packages/twitterbootstrap/css/bootstrap-theme.css">

	<link media="all" type="text/css" rel="stylesheet" href="http://localhost/assets/css/style.css">

	<link media="all" type="text/css" rel="stylesheet" href="http://localhost/assets/css/yamm.css">

		<title>Easy Wine</title>
</head>
<body>
	<div class="mast-head">
    	<div class="login-links container">
	<div class="login-links-content pull-right">
        <h4>Welcome to Easy Wine</h4>
	</div>
</div>

<div class="inner-center container">
	<a href="http://localhost" class="logo img-responsive" title="Easy Wine - Buy Wine Online"></a>
</div>

<nav class="navbar navbar-default yamm home-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav home-navbar-nav">
        <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">reds</a>
            <ul class="dropdown-menu row" role="menu">
                <li class="col-sm-3 deal-of-the-day">
                    <ul>
                        <li class="header text-uppercase">deal of the day</li>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#">
                                                <img src="http://localhost/uploads/images/wines/260/C988X.png" class="img-deal-of-the-day img-responsive" alt="a picture">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="wine-label text-capitalize">
                                                Wine Name Displayed Here
                                            </div>
                                            <div class="wine-was-price">
                                                Was $10.00              
                                            </div>
                                            <div class="wine-now-price">
                                                Now $8.00
                                            </div>
                                            <div class="wine-save-amount">
                                                Save $2.00
                                            </div>
                                        </div>
                                    </div> 
                                    <button href="#" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
                                </div>
                                <!-- End Item -->
                            </div>
                            <!-- End Carousel Inner -->
                        </div>
                        <!-- /.carousel -->
                        <li class="divider"></li>
                        <li><a href="#">View all Red Collection <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        </li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">Red</li>
                        <li><a href="#">All Red</a>
                        </li>
                        <li><a href="#">Awards</a>
                        </li>
                        <li><a href="#">Auto Carousel</a>
                        </li>
                        <li><a href="#">Imported</a>
                        </li>
                        <li><a href="#">Mixed Cases</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Variety</li>
                        <li><a href="#">Variety 1</a>
                        </li>
                        <li><a href="#">Variety 1</a>
                        </li>
                        <li><a href="#">Variety 1</a>
                        </li>
                        <li><a href="#">Variety 1</a>
                        </li>
                        <li><a href="#">Variety 1</a>
                        </li>
                        <li><a href="#">Variety 1</a>
                        </li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">Country</li>
                        <li><a href="#">Country 1</a>
                        </li>
                        <li><a href="#">Country 1</a>
                        </li>
                        <li><a href="#">Country 1</a>
                        </li>
                        <li><a href="#">Country 1</a>
                        </li>
                        <li><a href="#">Country 1</a>
                        </li>
                        <li><a href="#">Country 1</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Region</li>
                        <li><a href="#">Region 1</a>
                        </li>
                        <li><a href="#">Region 1</a>
                        </li>
                        <li><a href="#">Region 1</a>
                        </li>
                        <li><a href="#">Region 1</a>
                        </li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">Price</li>
                        <li><a href="#">Price 1</a>
                        </li>
                        <li><a href="#">Price 1</a>
                        </li>
                        <li><a href="#">Price 1</a>
                        </li>
                        <li><a href="#">Price 1</a>
                        </li>
                        <li><a href="#">Price 1</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Search</li>
                        <form class="form" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="search">Search</label>
                                <input type="search" class="form-control" id="search" placeholder="Exceptional Wine, Extraordinary Prices">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">whites</a></li>
        <li><a href="#">mixs</a></li>
        <li><a href="#">sparklings</a></li>
        <li><a href="#">others</a></li>
        <li><a href="#" style="color:red">clearance</a></li>
        <li><a href="#">winemakers</a></li>
        <li><a href="#">more</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-navbar -->
</nav>    </div>

	<div class="container">
			<div id="wrapper" class="account">
		<section id="mainBody">
			<div id="register_form" data-ng-controller="registerFormController">
				<div class="register-heading">register</div>
				<form method="POST" action="http://localhost/user/register" accept-charset="UTF-8" role="form" class="register_form" name="registerForm" data-ng-submit="submitForm(registerForm.$valid)" novalidate="novalidate"><input name="_token" type="hidden" value="ZSVwu9LL7H8qCN9exKEg64kbcQQD3DAPARf14j0D">
				<div class="panel panel-default loginDetails">
					<div class="register-form-section-heading">
						<a href="http://localhost" class="number">1</a>
						Your Login Details
					</div>
					<div class="panel-body account-form">
				      	<div id="loginDetailsPanel" class="col-sm-6 col-md-6">
					      	<div class="form-group" data-ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
							    <label for="email" for="email">Email:</label>
							    <input placeholder="Enter Email Address" class="form-control" data-ng-model="email" required="required" email-unique="email-unique" name="email" type="email" id="email">
							    
							    <p data-ng-show="registerForm.email.$error.required && !registerForm.email.$pristine" class="help-block">Enter a valid email.</p>
							    <p data-ng-show="registerForm.email.$error.email && !registerForm.email.$pristine" class="help-block">Enter a valid email.</p>
							    <p data-ng-show="registerForm.email.$error.emailUnique && !registerForm.email.$pristine && !registerForm.email.$error.required" class="help-block">This email has been registered</p>
							</div>
							<div class="form-group" data-ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
							    <label for="password" for="password">Password:</label>
							    <input placeholder="Enter Password" class="form-control" data-ng-model="password" data-ng-minlength="6" data-ng-maxlength="20" required="required" name="password" type="password" value="" id="password">
							    
							    <p data-ng-show="registerForm.password.$error.required && !registerForm.password.$pristine" class="help-block">Enter a valid password.</p>
							    <p data-ng-show="registerForm.password.$error.minlength || registerForm.password.$error.maxlength " class="help-block">Password must between 6 to 20 characters</p>
							</div>
							<div class='form-group' data-ng-class="{ 'has-error' : registerForm.password_confirmation.$invalid && !registerForm.password_confirmation.$pristine }">
								<label for="password_confirmation" class="control-label">Password Confirm</label>
								<input placeholder="Confirm Password" class="form-control" data-ng-model="password_confirmation" required="required" password-match="password" name="password_confirmation" type="password" value="" id="password_confirmation">
								
							    <p data-ng-show="registerForm.password_confirmation.$error.required && !registerForm.password_confirmation.$pristine" class="help-block">Confrim password</p>
							    <p data-ng-show="registerForm.password_confirmation.$error.unique && !registerForm.password_confirmation.$pristine && !registerForm.password_confirmation.$error.required" class="help-block">Password don't match</p>
							</div>
				      	</div>
			        </div>
				</div>
				<div class="panel panel-default contactDetails">
					<div class="register-form-section-heading">
						<a href="http://localhost" class="number">2</a>
						Your Contact Details
					</div>
					<div class="panel-body account-form">
						<div class="row">
							<div class="col-sm-3 col-md-4">
								<div class="form-group" data-ng-class="{ 'has-error' : registerForm.title.$invalid && !registerForm.title.$pristine }">
							  		<label for="title" for="title">Title:</label>
							  		<select name="title" class="form-control" data-ng-model="title" required="required" id="title"><option value="" selected="selected">Please Select</option><option value="Mr">Mr</option><option value="Mrs">Mrs</option><option value="Ms">Ms</option><option value="Miss">Miss</option><option value="Dr">Dr</option></select>
							  		
							  		<p data-ng-show="registerForm.title.$invalid && !registerForm.title.$pristine" class="help-block">Select Your Title</p>
							  	</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-4">
							  	<div class="form-group" data-ng-class="{ 'has-error' : registerForm.first_name.$invalid && !registerForm.first_name.$pristine }">
							    	<label for="first_name" for="first_name">First Name:</label>
									<input placeholder="Enter Your First Name" class="form-control" data-ng-model="first_name" required="required" data-ng-pattern="/^[A-Za-z0-9_-]+$/" name="first_name" type="text" id="first_name">
									
									<p data-ng-show="registerForm.first_name.$error.required && !registerForm.first_name.$pristine" class="help-block">Enter Your First Name</p>
									<p data-ng-show="registerForm.first_name.$error.pattern && !registerForm.first_name.$pristine" class="help-block">Your first name could only include alpha-numeric characters, as well as dashes and underscores.</p>
							    </div>
							</div>
							<div class="col-sm-4 col-md-4">
							  	<div class="form-group" data-ng-class="{ 'has-error' : registerForm.last_name.$invalid && !registerForm.last_name.$pristine }">
							    	<label for="last_name" for="last_name">Last Name:</label>
									<input placeholder="Enter Your Last Name" class="form-control" data-ng-model="last_name" required="required" data-ng-pattern="/^[A-Za-z0-9_-]+$/" name="last_name" type="text" id="last_name">
									
									<p data-ng-show="registerForm.last_name.$error.required && !registerForm.last_name.$pristine" class="help-block">Enter Your Last Name</p>
									<p data-ng-show="registerForm.last_name.$error.pattern && !registerForm.last_name.$pristine" class="help-block">Your first name could only include alpha-numeric characters, as well as dashes and underscores.</p>
							    </div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3 col-md-4">
								<div class="form-group" data-ng-class="{ 'has-error' : registerForm.age.$invalid && !registerForm.age.$pristine }">
									<label for="age" for="age">Age:</label>
									<select name="age" class="form-control" data-ng-model="age" required="required" id="age"><option value="" selected="selected">Please Select</option><option value="Under 18">Under 18</option><option value="18 - 29">18 - 29</option><option value="30 - 39">30 - 39</option><option value="40 - 49">40 - 49</option><option value="Over 50">Over 50</option></select>
									
									<p data-ng-show="registerForm.age.$invalid && !registerForm.age.$pristine" class="help-block">Select Your Age Group</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-7 col-md-7">
								<div class="form-group" data-ng-class="{ 'has-error' : registerForm.address.$invalid && !registerForm.address.$pristine }">
							    	<label for="address" for="address">Address:</label>
									<input placeholder="Enter Your Address" class="form-control" data-ng-model="address" required="required" name="address" type="text" id="address">
									
									<p data-ng-show="registerForm.address.$invalid && !registerForm.address.$pristine" class="help-block">Enter Your Detail Address</p>
						    	</div>
							</div>
						</div>
						<div id="contactPostPanel" class="row collapse in">
							<div class="col-sm-3 col-md-3">
								<div class="form-group" data-ng-class="{ 'has-error' : registerForm.suburb.$invalid && !registerForm.suburb.$pristine }">
									<label for="suburb" for="suburb">Suburb:</label>
								<input placeholder="Enter Your Suburb" class="form-control" data-ng-model="suburb" required="required" name="suburb" type="text" id="suburb">
								
								<p data-ng-show="registerForm.suburb.$invalid && !registerForm.suburb.$pristine" class="help-block">Enter a valid suburb name</p>
								</div>
							</div>
							<div class="col-sm-2 col-md-2">
								<div class="form-group" data-ng-class="{ 'has-error' : registerForm.postcode.$invalid && !registerForm.postcode.$pristine }">
									<label for="postcode" for="postcode">Postcode:</label>
								<input placeholder="Postcode" class="form-control" data-ng-model="postcode" required="required" data-ng-pattern="/^(\d){4}$/" name="postcode" type="text" id="postcode">
								
								<p data-ng-show="registerForm.postcode.$invalid && !registerForm.postcode.$pristine" class="help-block">Enter a valid postcode</p>
								</div>
							</div>
							<div class="col-sm-3 col-md-3">
								<div class="form-group" data-ng-class="{ 'has-error' : registerForm.state.$invalid && !registerForm.state.$pristine }">
							  		<label for="state" for="state">State:</label>
							  		<select name="state" class="form-control" data-ng-model="state" required="required" id="state"><option value="" selected="selected">Please Select</option><option value="NSW">New South Wales</option><option value="Qld">Queensland</option><option value="SA">South Australia</option><option value="Tas">Tasmania</option><option value="Vic">Victoria</option><option value="WA">Western Australia</option></select>
							  		
							  		<p data-ng-show="registerForm.state.$invalid && !registerForm.state.$pristine" class="help-block">Enter a valid state name</p>
							  	</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-4">
							  	<div class="form-group">
							    	<label for="company_name" for="company_name">Company Name:</label>
									<input placeholder="Enter Your Company Name" class="form-control" name="company_name" type="text" id="company_name">
							    </div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="form-group" data-ng-class="{ 'has-error' : registerForm.contact_number.$invalid && !registerForm.contact_number.$pristine }">
							    	<label for="contact_number" for="contact_number">Contact Number:</label>
									<input placeholder="Enter Your Contact Number" class="form-control" data-ng-model="contact_number" required="required" data-ng-pattern="/^(\d)+$/" name="contact_number" type="text" id="contact_number">
									
									<p data-ng-show="registerForm.contact_number.$invalid && !registerForm.contact_number.$pristine" class="help-block">Enter a valid contact number</p>
						    	</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default preferences">
					<div class="register-form-section-heading">
						<a href="http://localhost" class="number">3</a>
						Preferences
					</div>
					<div class="panel-body account-form">
						<div class="row">
				      		What&#039;s happening, what&#039;s hot - direct to your inbox. Our email updates ensure you never miss out on the latest wines.
				      	</div>
				      	<div class="row">
				      		<div class="col-sm-3 col-md-3">
				      			<input class="preferencesRadioBtn" checked="checked" name="subscribed" type="radio" value="1"> Subscribe
				      		</div>
				      		<div class="col-sm-3 col-md-3">
				      			<input class="preferencesRadioBtn" name="subscribed" type="radio" value="0"> Do not Subscribe
				      		</div>
				      	</div>
					</div>
				</div>
				<div class="form-group">
					<input class="btn btn-info submitBtn" data-ng-disabled="registerForm.$invalid" type="submit" value="Register &gt;">
				</div>
				</form>
			</div>
		</section>
	</div>
	</div>
</div>
	<div class="footer top">
    <div class="inner-center">
    </div>
</div>
<div class="footer mid">
    <div class="container">
        <div class="section">
            <h6>About</h6>
            <ul>
                <li><a href="http://localhost" class="footer-link text-capitalize">our story</a></li>
                <li><a href="http://localhost" class="footer-link text-capitalize">meet the makers</a></li>
                <li><a href="http://localhost" class="footer-link text-capitalize">delivery</a></li>
            </ul>
        </div>
        <div class="section">
            <h6>Help</h6>
            <ul>
                <li><a href="http://localhost" class="footer-link text-capitalize">contact us</a></li>
                <li><a href="http://localhost" class="footer-link text-capitalize">help</a></li>
                <li><a href="http://localhost" class="footer-link text-capitalize">my account</a></li>
                 <li><a href="http://localhost" class="footer-link text-capitalize">privary &amp; security</a></li>
            </ul>
        </div>
        <div class="section">
            <h6>Services</h6>
            <ul>
                <li><a href="http://localhost" class="footer-link text-capitalize">catalogue</a></li>
                <li><a href="http://localhost" class="footer-link text-capitalize">gift card</a></li>
                <li><a href="http://localhost" class="footer-link text-capitalize">icon wine plans</a></li>
                 <li><a href="http://localhost" class="footer-link text-capitalize">quarterly wine plans</a></li>
            </ul>
        </div>
        <div class="section news">
            <h5>Newsletter</h5>
            Sign up for exceptional wine, extraordinary prices and more
            <form method="POST" action="http://localhost/test/show" accept-charset="UTF-8"><input name="_token" type="hidden" value="ZSVwu9LL7H8qCN9exKEg64kbcQQD3DAPARf14j0D">
                <div class="input-group">
                    <input class="form-control newsletter_input" name="newsletter_input" type="text">
                    <span class="input-group-btn">
                        <input class="btn btn-info text-capitalize" type="submit" value="sign up">
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer bottom">
    <div class="container">
        <ul class="section">
            <li><strong>Countries</strong></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">australian wine</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">chilean wine</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">french wine</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">italian wine</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">new zealand wine</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">spanish wine</a></li>
        </ul>
        <ul class="section">
            <li><strong>Wine Regions</strong></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">barossa valley</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">bordeaux</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">champagne</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">coonawarra</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">hunter valley</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">margaret river</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">marlborough</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">mclaren vale</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">tasmania</a></li>
        </ul>
        <ul class="section">
            <li><strong>Red Wines</strong></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">cabernet blends</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">cabernet sauvignon</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">grenache</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">merlot</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">pinot noir</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">red blends</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">ros&eacute;</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">shiraz</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">shiraz blends</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">Other Reds</a></li>
        </ul>
        <ul class="section">
            <li><strong>White Wines</strong></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">chardonnay</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">mascato</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">pinot gris</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">riesling</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">sauvignon blanc</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">semillon</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">semillon sauvgnon blanc</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">verdelho</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">white blends</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">Other Whites</a></li>
        </ul>
        <ul class="section">
            <li><strong>Wine Brands</strong></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">black wattle</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">dorrien estate</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">gallows</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">hawkesbridge</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">krondorf</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">mcleans farm</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">riversdale</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">rothbury estate</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">stefano di pieri</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">vasarelli</a></li>
        </ul>
        <ul class="section">
            <li><strong>Meet the Makers</strong></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">badrice. nick</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">blackwell. sally</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">de pieri. stefano</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">doddridge. neil</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">duval. john</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">maiolo.charlie</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">mclean. bob</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">roberts. ian &amp; wendy</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">ryan. corey</a></li>
            <li><a href="http://localhost" class="footer-link text-capitalize">vasarelli. pat &amp; vicki</a></li>
        </ul>
        <p>&copy; 2014 Easy Wines Pty Limited. All rights reserved. Liquor Licensing Act 1997. It is against the law to sell or supply alcohol to, or to obtain alcohol on behalf of, a person under the age of 18 years. This web site is operated by Easy Wines Pty Limited. ABN xxx xxx xxx xx. Licence Number: xxxxxxxx.</p>
    </div>
</div>	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://localhost/assets/js/main.js"></script>

	<script src="http://localhost/packages/twitterbootstrap/js/bootstrap.js"></script>

	</body>
</html>